<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<log4net>
		<!-- 错误日志附加介质-->
		<!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是指定使用哪种介质-->
		<appender name="LogsServiceFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<!-- 输出到什么目录-->
			<param name="File" value="Logs\\" />
			<!-- 是否到附加到文件中-->
			<param name="AppendToFile" value="true" />
			<!-- 备份文件的个数-->
			<param name="MaxSizeRollBackups" value="1" />
			<!--否采用静态文件名，文件名是否唯一-->
			<param name="StaticLogFileName" value="false" />
			<!-- 文件格式-->
			<param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
			<!-- 文件创建方式，以日期的方式记录-->
			<param name="RollingStyle" value="Date" />
			<!---日志内容布局-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c - %m%n" />
			</layout>
		</appender>
		<!-- 错误日志类-->
		<!-- 日志类的名字-->
		<logger name="Service">
			<!-- 定义记录的日志级别-->
			<level value="ALL" />
			<!-- 记录到什么介质中-->
			<appender-ref ref="LogsServiceFileAppender" />
			<!-- 控制台控制显示日志 -->
			<!--<appender-ref  ref ="ConsoleAppender"/>-->
		</logger>
	</log4net>
	<appSettings>
		<add key="quartz.scheduler.exporter.port" value="555"/>
		<add key="ServiceName" value="Beta作业调度服务"/>
		<add key="ServiceDisplayName" value="Beta作业调度服务"/>
		<add key="ServiceDescription" value="用于定时周期性执行作业"/>
	</appSettings>
</configuration>